@mixin shadow($x, $y, $blur, $spread, $color){
    -webkit-box-shadow: $x $y $blur $spread $color;
    -moz-box-shadow: $x $y $blur $spread $color;
    -ms-box-shadow: $x $y $blur $spread $color;
    box-shadow: $x $y $blur $spread $color;
}
@mixin transition($elem, $type, $duration){
    -webkit-transition: $elem $type $duration;
    -moz-transition: $elem $type $duration;
    -ms-transition: $elem $type $duration;
    transition: $elem $type $duration;
}
