/* Font - family */
$font-family-sans-serif: -apple-system, system-ui,BlinkMacSystemFont, "Segoe UI","Roboto", "Helvetica Neue", Arial, sans-serif !default;

/* Colors */
$white: #ffffff;
$dark-blue: #434f74;
$light-blue: #959fbb;
$normal-blue: #6a93ff;
$pink: #f24f86;

/* Grid */
$grid-column:12;
$spacing:14px;
$container-max-width:980;

/* breakpoints */
$large:1440px;
$medium:992px;
$small:768px;
$extrasmall:320px;

/* Border Radius */
$border-radius1:5px;
$border-radius2:3px;


